body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #081C04;
    background-color: #4C934C;
    text-align: center;
}


h2 {
    font-family: 'fredericka the great', cursive;
    font-weight: 600;
}


.thumbnail a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #081C04;
}

.carousel {

    height: 375px;

}


.jumbotron {
    font-family: 'Josefin Slab';
    background: none;
    margin: 30px 0px 30px 0px;
    text-align: center;
    padding-top: 70px;
    height: 300px;
    border-color: #081C04;
    border-width:10px;
    border-style: solid;
}

/*NAVBAR STYLE*/
.navbar-inverse {
    font-family: 'fredericka the great', cursive;
    font-size: 20px;
    background-color: #081C04;
    padding: 5px 15px 15px 15px;
    color: white;
    height: 60px;
}

 /*Set padding to keep content from hitting the edges*/ 
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
