body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    color: rgba(70, 83, 98, 1);
    background-color: #91CB3E;
}
/*COLOR PALLETTE*/
/*
    STIL DE GRAIN YELLOW: rgba(249, 220, 92, 1);
    TEA GREEN: rgba(194, 234, 189, 1);
    MAASTRICHT BLUE: rgba(1, 25, 54, 1);
    INDEPENDENCE: rgba(70, 83, 98, 1);
    CORAL: rgba(205, 83, 59, 1);
*/

.thumbnail {
                        
}


/*NAVBAR STYLE*/
.navbar-inverse {
    font-family: 'fredericka the great', cursive;
    font-size: 20px;
    background-color: #081C04;
    padding: 5px 15px 15px 15px;
    color: white;
    height: 60px;
    border:;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
